body
{
    background-color: #303030;
    font-family: 'Lato', sans-serif;
    font-size: 20px;


}

#container
{
    width: 1000px;

    margin-left: auto;
    margin-right: auto;
}

.rectangle
{
    width: 960px;

}
#nazwa
{
    float: left;
    font-size: 70px;
    width: 600px;
    margin: 20px;
    text-align: center;
    left:  90px;
    position: relative;
}
#logo 
{
    float: left;
    font-size: 70px;
    right: 115px;
    position: relative;

}
.square
{
    width: 50%;
    float: left;
    height: 300px;
}

.tile1
{
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #1b6d85;
    float: left;
    text-align: center;

}
.tile2
{
    margin: 10px;
    width: 460px;
    height: 220px;
    background-color: #c0c0c0;
    float: left;
    text-align: center;

}
.tile3
{
    margin: 10px;
    width: 460px;
    height: 64px;
    background-color: #1b6d85;
    float: left;
    text-align: center;

}
h2
{
    line-height: 200px;    
    font-size: 24px;
}

img
{
    width: 340px;
    height: 40px;
    padding: 15px;

}
.foto
{
    width:125px;
    height:87px;
    margin:2mm;
}