/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-05-29, 21:00:10
    Author     : Domon
*/

body{
    width:100%;
    height:100%;
    margin: 0px;
}
#index{
    background-color: #E7F3F1;
}
#loginWindow{
    margin-left: auto; 
    margin-right: auto;  
    margin-top: 10%;
    width: 80%;
    padding-top:20px;
    padding-bottom: 10px;
    float: none;
    text-align: center;
    
}
#adminLoginButton{
   width: 35%;
   margin-left: auto;
   margin-right: auto;
   display: inline-block;    
}
#userLoginButton{
    width: 35%;
    margin-right: auto;
    margin-left: 10%;
    display: inline-block;
}

#containerForLoginButtons{
    float:none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: auto;
}

.main_container{
    width: 50%; 
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lato', sans-serif;
}

.btnLocal {
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  color: #ffffff;
  font-size: 30px;
  background: #98a8b3;
  padding: 10px 20px 10px 20px;
  border: solid #aab6bd 1px;
  text-decoration: none;
}

.btnLocal:hover {
  background: #1E90FF;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#loginFooter{
   color:#cccccc;
   display: block;
   padding-top:10%;
   padding-bottom:5px;
   margin-bottom:0px;
}

#menuHolder{
    width:100%;
    height:50px;
    background-color: #0094DD;
    font-family: 'Lato', sans-serif;
}
.menuItem{
    height:100%;
    font-family: 'Lato', sans-serif;
    backgroud-color:red;
    float:left;
    padding-left:20px;
    padding-right:20px;
    color:#ffffff;
    font-size: 30px;
    display: inline-block;
}
#menuItemLast{
    float:right;
}
.menuItem:hover{
    background-color: #00679A;
}
#menuSelectedItem{
    
}
h1{
    font-family: 'Lato', sans-serif;
}